NODE_ENV=development
PORT=3000

# winston - logger 
LOG_FILE_MAX_SIZE='100m'
LOG_MAX_FILES_NUMBER='50'

# development database
DB_DEV_USERNAME='root'
DB_DEV_PASSWORD='secret'
DB_DEV_DATABASE='best-tournament-app'
DB_DEV_HOST='127.0.0.1'
DB_DEV_PORT='27017'

# production database
DB_PROD_USERNAME=''
DB_PROD_PASSWORD=''
DB_PROD_DATABASE=''
DB_PROD_HOST=''
DB_PROD_PORT=''

# jwt cookie
JWT_COOKIE_EXPIRES_IN_HOURS=10

# azure organization
CLIENT_SECRET=''
CLIENT_ID=''
TENANT_ID=''
OBJECT_ID=''
AUTHORITY_URL=https://login.microsoftonline.com/common
